# Copie ce fichier en ".env" et remplis tes vraies valeurs.
# Pendant les tests, utilise le sandbox (gratuit, max 100 FCFA par transaction) :
CAMPAY_BASE_URL=https://demo.campay.net/api

# Une fois prêt pour le vrai argent, remplace par :
# CAMPAY_BASE_URL=https://www.campay.net/api

# Colle ici le token permanent trouvé dans Campay > Applications > APP KEYS
CAMPAY_PERMANENT_TOKEN=colle_ton_token_ici

PORT=3000
